html
{
    font-family:"IBM Plex Sans Condensed", sans-serif;
}

body
{
    /* color:yellow; */
    /* background-color:#b3e8ff;  */
    text-align: center;
}

/* h1
{
    color:violet; */
    /* text-align: center;  */
    /* background-color: dodgerblue; */
    /* border: 3px blue dashed; */
    /* text-shadow: 3px 2px 3px black ;
} */

.container
{
    /* color: rgb(32, 32, 245); */
    /* color:white; */
    /* background: linear-gradient(#80d4ff,#0000ff); */
    width: 100%; 
    height: 1000px; 
    opacity: 800%;
    /* background-color: aqua; */
    /* text-align: center; */
    margin:auto;
    font-size: 2rem;
    text-shadow: 5px 5px 5px #0059ff;
    /* box-shadow: 3px 3px 5px black; */
    background-image: url(bg.jpg);
    background-size: cover;
}

p
{
    background-image: url(m29KM7.jpg);
    background-position: 50px;
    align-items:stretch;
    /* font-size: 16px; */
    max-width: 100%;
    margin:auto;
    height: 25px;
    font-size: 1rem;
    /* font-style: oblique; */
    /* text-decoration: none; */
    letter-spacing: 4rem;
    /* word-spacing: 1rem; */
    color: whitesmoke !important;
    font-weight: bolder;
    /* text-transform: uppercase; */

}

/* ul li
{
    text-align: left;
    color: black;
    font-size: 1rem;
} */

/* ul > li
{
    color:yellow;
    text-shadow: 0px 0px 0px black;

} */

.formatting
{
    font-size: 2rem;
    line-height: 2em;
    color: rgb(0, 40, 172);
    /* font-weight: bolder; */
    text-shadow:none;
}

img
{
    max-width: 100%;
    height: auto;
    padding: 2px;
}

.brdr
{
    border-radius: 50%;
    height: 200px;  
    width: 200px;  
    margin: 50px; 
    /* border: 8px double rgb(0, 102, 255); */
    /* padding: 3px; */
    /* border-radius:30px;  */
}

button
{
    color: #0059ff;
    background-color: rgb(176, 215, 230);
    text-decoration: none ;
    border: none;
    font-size: 1rem;
    border-radius: 12px;
    padding: 15px 10px ;
    
}

/* .f2
{
    font-family: 'Odibee Sans', cursive;
} */

/* .f3
{
    font-family: 'Racing Sans One', cursive;
} */


/* h2
{
    color:rgb(1, 2, 255)
} */

/* #circle
{
    color:rgb(243, 91, 174);
    font-size: 40px;

} */

/* h4,.eh4,#ech4
{
    background-color: #80d4ff;
    color: black;
    text-shadow: 3px 3px 3px #0000ff;
    line-height: 1rem;
    font-family:'Open Sans'
} */

/* h1
{
  color: #0000ff;
  background-color: black;  
} */

/* body h3
{
    color:green;
} */

/* html h3
{
    color:orange;
} */

/* .class h3
{
    color: red;
} */

